
body {font-family: Helvetica, Arial, Tahoma, sans-serif; font-size: 62.5%; color: #333; text-align:center; background-color: #fff; }
a {text-decoration:none; color:#0c5390; }
a:hover {text-decoration:none; color: #f99734; }
h1,h2,h3,h4,h5,h6 {font-weight:normal; margin:0; padding:0; color:#333; }
#page{font-size:1.2em}
p {margin: 0 0 1em; }
li,p {line-height: 1.6em; }
.item-list ul li,div.block ul.menu li,li {list-style: none; }
.help,dl,.messages{font-size:1.2em}
dl.admin-list dt{margin:5px 0 0;padding:.2em 0}
dl.admin-list dd{font-size:.8em; padding: 0 0 0 10px}
.description{font-size:.9em}
.form-button, .form-submit {font-size:.8em; margin:2em 0.5em 1em 0;}
form#views-ui-preview-form input#preview-submit {margin:1.1em 0 0;}

#page {text-align:left;  }

div.block ul.menu, div.block .item-list ul {border-bottom: solid 1px #ccc; margin-bottom: 15px; overflow:hidden}
div.block ul.menu li,div.block .item-list ul li { font-weight: bold; padding: 10px 0; border-top: solid 1px #ccc; list-style-image:none; overflow:hidden}
div.block ul.menu ul {margin: 10px 0 5px 10px; border-left: solid 1px #ccc; padding-left: 10px; border-bottom:none}
div.block ul.menu ul li {border: none; font-weight: normal;}
div.block ul.menu li.current-menu-item > a {color: #333; font-weight: bold; }
div.block ul.menu li.current-menu-item > a:hover {color: #f99734;}
div.block ul.menu ,div.block .item-list ul{float:left;width:100%;list-style:none}

/* Content Top & Bottom Blocks */
#content-top .block h3.title, #content-bottom .block h3.title{border-bottom:medium none;font-weight:bold;line-height:130%;}
#content-top .block h3, #content-bottom .block h3{border-bottom:medium none;line-height:130%;}
#content-top .block ul , #content-bottom .block ul{padding-left:0}
#content-top .block ul li, #content-bottom .block ul li{margin-left:0}

/* Main navigation */
#main-navigation-wrapper{width:100%}
.primary-links, .primary-links ul.links {margin:0; padding:0; line-height:18px; z-index:300; width:100%; }
.primary-links {background-color: #3a678d}
.primary-links {height: 36px; line-height: 36px; font-weight: bold; margin-bottom: 15px; }
.primary-links ul.links li a {-moz-border-radius:0 ;background-color:transparent; display:block; color: #fff; text-shadow: #264c6c 1px 1px 0; text-decoration: none; padding: 0 15px 0; }  
.primary-links ul.links li a:hover, .primary-links ul.links .active-trail a {color: #fff; text-shadow: #b86d21 1px 1px 0; background-color: #e98a2a; }  
.primary-links li {float:left; display: inline; position:relative; line-height: 36px; font-size: 12px; border-right: solid 1px #fff;}

/* Breadcrumbs Styles*/
#breadcrumbs {text-transform: uppercase; margin: 20px 0; }

/* Header Style */
#header{padding:40px 0 50px;}
.front #header{padding-top:60px}
/* Logo, Site Name && Site Slogan*/
a.logo-img{float:left; display:block;width:110px}
h1.site-name{font-size:48px;line-height:130%;}
div.site-slogan{margin-left:90px;font-size:1.8em; }
/* Search block */
#header .block-search { float:right; height:40px; position: relative; margin-top: 6px; }
#header .block-search .form-submit {background-color: #0c5390; color: #fff; text-transform: lowercase; line-height: 24px; height: 24px; padding: 1px 10px; cursor: pointer; margin:0}
#header .block-search .form-submit:hover {background-color:#0a406f}

#social {clear: right; float: right; display: inline;}
#social li {float: left; display: inline; margin-right: 0; margin-left: 3px; font-size: 11px; } 


#slideshow-wrapper{border-top:1px #e98a2a solid; padding:1px 0 0}
.slideshow{overflow:hidden}
.slideshow img{xheight:350px}
#content-top{border-top:1px #e98a2a solid; margin-top:1px}

h1#page-title{margin-left:250px}
 
/* Main content Style */
h1#page-title,#main h2, #main h3 {font-size: 40px; font-family: Georgia, serif; line-height: 130%; letter-spacing: -1px; margin-bottom: 30px; }
#main h2 {font-size: 1.8em; line-height: 120%; }
#main table h2{font-size:1.4em}
#main h3 {font-size: 1.8em; line-height: 120%; }

.page-admin .content-output{font-size:1.2em}

/* Node Styles */
.node {font-family: Helvetica, Arial, Tahoma, sans-serif}
.node p {font-size:1.2em; margin: 0 0 1.1em; }
.node ul, .node ol {font-size:1.2em; margin-left: 1.4em; margin-bottom: 1.2em; }
.node ul ul, .node ol ol {margin-left: 1.4em; margin-bottom: 1.2em; }
.node li {list-style-position: inside;} 
.node ul li {list-style-type: square;}
.node ol li {list-style-type: decimal;} 
.node blockquote {margin-left: 20px; padding-left: 20px; font-style: italic; border-left: dotted 2px #aaa; }
.node h2, .node h3, .node h4, .node h5, .node h6 {margin: 1.2em 0; }
.node p a, .teaser p a,.node .submitted a, .teaser .submitted a{color: #f99734;}
.node a:hover, h2 a:hover,.teaser a:hover{text-decoration: underline; }
.node .submitted, .teaser .submitted {text-transform: uppercase; margin: 5px 0 5px; color: #999; }

/* teasers Style */
.teaser {margin-bottom: 1em; }
.teaser {padding-bottom: 1em; border-bottom: solid 1px #ddd; line-height: 110%; margin-bottom: 1.2em; overflow:hidden}
#main .teaser h2 {font-size: 1.3em; font-weight: bold; line-height: 110%; margin-bottom: 2px; }
.teaser img {float: left; display: inline; margin: 0 10px 10px 0; }
.teaser p{font-size: 1.2em; margin: 5px 0 5px;}

/* Sidebars Style */
#first-sidebar, #second-sidebar{font-size:1em;}
#first-sidebar .block .item-list ul, #second-sidebar .block .item-list ul{padding:0;}
#first-sidebar .block h3.title, #second-sidebar .block h3.title{border-bottom:none;font-weight:bold;line-height:130%}
#first-sidebar .block .item-list ul li, #second-sidebar .block .item-list ul li{font-weight:normal}
#first-sidebar .block ul.menu li, #second-sidebar .block ul.menu li,#first-sidebar .block .item-list ul li, #second-sidebar .block .item-list ul li{margin:0; overflow:hidden} 
#first-sidebar .block ul.menu ul, #second-sidebar .block ul.menu ul{padding-left:10px;}

/* Footer Style */
div.footer-wrapper {border-top: solid 1px #f99734; padding: 25px 0 10px; margin-top: 50px}
#footer {color: #333; margin:0}
#footer .block{font-size:1em}
#footer a {text-decoration: none; }
#footer a:hover {text-decoration: none; }
#footer h3 {font-weight: normal; line-height: 110%; margin-bottom: 1em; color: #777; }
#footer p {text-align: left; }
#footer ul {display: block; text-align: left; margin-bottom: 10px; border:none}
#footer ul li {display: inline; line-height: 120%; margin-right: 15px; font-weight: bold; border:none }
div.footer-message {float: right; display: inline; width: 30%; margin: 0 0 10px 10px;}
div.footer-message {line-height: 1.1em; color: #777; } 

#footer #footer-region{float:left}

/* Comments Style */
#comments {padding: 1em 0; margin:0}
#comments a {text-decoration: none;}
#comments a:hover {text-decoration: underline;}
#comments .comment .inner-comment{position: relative; }
#comments .links {position: absolute; top: 0; right: 0; }
#comments div.comment {list-style-type: none; margin: 0 0 10px; padding: 15px 15px 5px; line-height: 20px; min-height: 90px; border-top: solid 1px #ccc; padding-left: 15px; }
#comments .intendent .comment {clear: left; margin: 0 10px 10px 10px; }
#comments h2.comment-counter{font-size:2em;margin-bottom:10px}

.comment {font-family: Helvetica, Arial, Tahoma, sans-serif; }
.comment img { float: left; display: inline; margin: 0 15px 15px 0; border: solid 4px #ccc; }
.comment cite {xfont-size: 1.2em; line-height: 120%; font-weight: bold; font-style: normal; margin-left: 0; }
.comment cite.author {color: #333;}
.comment .commentmetadata {line-height: 120%; font-size: .9em; margin-bottom: 5px; text-transform: uppercase; padding-right:120px}
.comment blockquote {xfont-size: 1.2em; line-height: 120%; }
.comment p {font-size:1.2em; text-shadow: #fff 1px 1px 1px;}
#comments .byauthor { background-color: #f1f1f1; }

.comment .links li{padding:0;margin:0 1px 0 0}
.comment .links a{ background: #336699; color: #fff; padding: 2px 5px; margin-bottom: 5px; font-weight: normal; text-transform: uppercase; xfont-size: 1.2em; text-shadow: none; }
.comment .links a:hover{ background: #cc0000; color: #fff; text-decoration: none; }

/* Comment form */
#comment-form .author-name a{font-size:1.3em}
#comment-form .form-item,#contact-mail-page .form-item{overflow:hidden; position:relative; height:30px}
#comment-form .form-item label,#contact-mail-page .form-item label{position:absolute;left:310px; display: inline; font-weight:normal; line-height: 26px; xfont-size: 1.1em; text-transform: none; margin-left: 10px; }
#comment-form input.form-text,#contact-mail-page .form-item input.form-text{position:absolute; left:0; display: inline; width: 300px;	padding: 6px 0 2px 5px;	xfont-size: 1.2em; margin-bottom: 10px; }
#comment-form #edit-comment-wrapper,#contact-mail-page #edit-message-wrapper{height:auto}
#comment-form .form-submit,#contact-mail-page .form-submit,.form-submit {xfont-size: 1.1em; text-transform: uppercase; padding: 6px 15px; width: auto; background: none; background-color: #0c5390; color: #fff; border: none; cursor: pointer; }
#comment-form .form-submit:hover,#contact-mail-page .form-submit:hover,.form-submit:hover {background-color: #0a406f; } 

/*  Contact form  */
#contact-mail-page #edit-message-wrapper label{display:none}
#contact-mail-page #edit-copy-wrapper label{left:0}

/* Superfish Academic Style */
div.academica .primary-links ul a.sf-with-ul{padding-right:1em;}
div.academica .primary-links ul li{background-color:#3a678d}
div.academica .primary-links ul li:hover ul,div.academica .primary-links ul li.sfHover ul{feft:0;top:36px; /* match top ul list item height */z-index:99;}
div.academica .primary-links li a{float:left;border-top:none; border-left:none;padding:0 1em;color: #fff !important; text-shadow: #264c6c 1px 1px 0;background-color:#3a678d}
div.academica .primary-links li ul a {float:left; width:130px}
div.academica .primary-links li a:hover,div.academica .primary-links li a.active {text-shadow: #b86d21 1px 1px 0; background-color: #e98a2a !important;}
div.academica .primary-links li.active-trail ul li a,div.academica .primary-links li ul a {border-top:1px #fff solid; background-color:#333}
#block-menu-primary-links ul.menu ul{display:none}
